<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.vinayg.resumebuilder">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <uses-feature
            android:name="android.hardware.camera"
            android:required="true"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity
            android:name=".homepage.SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="@string/fb_login_protocol_scheme"/>
            </intent-filter>
        </activity>
        <activity android:name=".homepage.LoginActivity">
        </activity>
        <!--
 ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity
            android:name=".homepage.ProfileActivity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".homepage.AboutActivity"
            android:parentActivityName=".homepage.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vinayg.resumebuilder.homepage.ProfileActivity"/>
        </activity>
        <activity
            android:name=".Summary.SummaryActivity"
            android:label="@string/title_activity_summary"
            android:parentActivityName=".homepage.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vinayg.resumebuilder.homepage.ProfileActivity"/>
        </activity>
        <activity
            android:name=".projects.ProjectsActivity"
            android:label="@string/title_activity_projects"
            android:parentActivityName=".homepage.ProfileActivity">
        </activity>
        <activity
            android:name=".education.EducationActivity"
            android:label="@string/title_activity_education"
            android:parentActivityName=".homepage.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vinayg.resumebuilder.homepage.ProfileActivity"/>
        </activity>
        <activity
            android:name=".interests.InterestsActivity"
            android:label="@string/title_activity_interests"
            android:parentActivityName=".homepage.ProfileActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vinayg.resumebuilder.homepage.ProfileActivity"/>
        </activity>
        <activity
            android:name=".projects.AddProjectsActivity"
            android:label="@string/title_activity_add_projects"
            android:parentActivityName=".projects.ProjectsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vinayg.resumebuilder.projects.ProjectsActivity"/>
        </activity>
        <activity
            android:name=".projects.ProjectEditActivity"
            android:label="@string/title_activity_edit_projects"
            android:parentActivityName=".projects.ProjectsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vinayg.resumebuilder.projects.ProjectsActivity"/>
        </activity>
        <activity
            android:name=".education.AddEducationActivity"
            android:label="@string/title_activity_add_education"
            android:parentActivityName=".education.EducationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vinayg.resumebuilder.education.EducationActivity"/>
        </activity>
        <activity
            android:name=".education.EducationEditorActivity"
            android:label="@string/title_activity_edit_education"
            android:parentActivityName=".education.EducationActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vinayg.resumebuilder.education.EducationActivity"/>
        </activity>
        <activity
            android:name=".interests.InterestEditActivity"
            android:label="@string/title_activity_edit_interest"
            android:parentActivityName=".interests.InterestsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vinayg.resumebuilder.interests.InterestsActivity"/>
        </activity>
        <activity
            android:name=".interests.InterestAddActivity"
            android:label="@string/title_activity_add_interest"
            android:parentActivityName=".interests.InterestsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.vinayg.resumebuilder.interests.InterestsActivity"/>
        </activity>
    </application>

</manifest>